#container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#employees {
  padding: 5px;
  background-color: #fff;
  border: 8px;
  padding: 20px;
}

#title {
  color: #999999;
  font-weight: bold;
  font-size: 18px;
  margin: 15px 10px;
}

#employees__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.employees__employee {
  display: flex;
  height: 22px;
  gap: 5px;
  padding: 8px;
  border-bottom: 1px solid #f3f3f3;
}

.employees__employee_infos {
  font-weight: bold;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.employees__employee_info{ 
  display: flex;
  flex: 1;
}

.employees__employee_info_title{
  font-weight: 500;
  display: flex;
  flex: 1;
  color: #999999;
}

.name{ 
}

.email{
  display: flex;
  align-items: center;
  justify-content: center;
}

.telephone{
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.employees__employee_button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.add_employee {
  display: flex;
  justify-content: center;
}