.service-card{
    display: flex;
    gap: 20px;
    margin: 4px;
    border-radius: 6px;
    padding: 8px;
    font-weight: bold;
    justify-content: space-between
}

.info{
    display: flex;  
    gap: 5px;
    align-items: center;
}

.text-info{
    font-size: 12px;
    margin: 5px;
    color: #FFF;
}

#service-card__button-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}