.container-main{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
}

#container{
    display: flex;
    width: 100%;
    justify-content: space-between
}

#container__services{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container__services__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}

input{
    height: 30px;
}

#container__services__card{
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

table{
    width: 100%;
}

.horario{
    height: 70px;
    background-color: bisque;
}

.atendimento{
    width: 100%;
}


