.container-main{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
}

#container{
    display: flex;
    width: 100%;
    justify-content: space-between
}

#container__services{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container__services__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}

input{
    height: 30px;
}

#container__services__card{
    display: flex;
    flex-wrap: wrap;
}

table{
    width: 100%;
    background-color: #fff;
}

.horario{
    height: 70px;
    width: 100px;
    background-color: #F3F3F3;
}

.atendimento{
    width: 100%;
}

.horario-text{
    background-color: #fff;
    height: 30%;
    display: flex;
    font-size: 12px;
    align-items: center;
    color: #494949;
    font-weight: bold;
}


