.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  max-width: 1000px;
  padding: 8px;
  border-radius: 10px;
}

.card p {
  font-size: 15px;
}

.name {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 14px;
}

.telephone {
  flex: 1;  
  display: flex;
  justify-content: center;
}

.more {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.more .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.more .button:hover {
  background-color: #f8f8f8;
}
