#container--services-list{
    background-color: #eeeeee;    
    max-height: 80vh;
    overflow-y: auto;
}

.row{ 
    display: flex;
    background-color: #ffffff;
    margin-bottom: 3px;
    min-height: 50px;
}

.hour{
    display: flex;
    background-color: #f6f6f6;
    align-items: center;
    justify-content: center;

    
}

.hour-text{
    height: 30%;
    width: 100%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    color: #494949;
    font-weight: bold;  
}

.container__service--card{
   width: 100%;
   /* display: flex; */
}

p{
    margin: 0;
    padding: 0;
}

