#container--services-list{
    background-color: #eeeeee;    
    max-height: 75vh;
    overflow-y: auto;
}

.header{
    display: flex;
    background-color: #ffffff;
    margin-bottom: 3px;
    padding: 10px 20px;
    min-height: 50px;
}

.row{ 
    display: flex;
    background-color: #ffffff;
    margin-bottom: 3px;
    min-height: 50px;
}

.hour{
    display: flex;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.hour-text{
    height: 30%;
    width: 100%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    color: #494949;
    font-weight: bold;  
}

.container__service--card{
   width: 100%;
}

.card{
    height: 100%;
    width: 100%;
}


