#calendar {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 280px;
    margin-top: 20px;
    background-color: #ffffff;
    font-family: 'nunito';
  }
  
  #month-header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
  }

  .change-month{
    font-size: 14px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
  }

  #today-button{
    cursor: pointer;
  }
  #today-button:hover{
    color: var(--background-primary);
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .day {
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }

  .day:hover{
    border-radius: 50%;
    background-color: #dad6d6;
  }

  .week {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }
  
  .selected-day {
    color: #fff;
    background-color: var(--background-primary);
    border-radius: 50%;
    font-weight: bold;
  }
  
  .current-month {
    color: black;
  }
  
  .other-month {
    color: #ccc;
  }