.info {
    display: flex;
    align-items: center;
    padding-left: 8px;
    gap: 8px;
  }

  .name{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }


  .second__information{
    color:#aaaaaa;
    font-size: 1rem;
  }