.info {
    display: flex;
    align-items: center;
    padding-left: 8px;
    gap: 8px;
  }

  .name{
    width: 100%;
  }
  
  .title{
      padding-left: 50px;
      color: #494949;
      font-weight: bold;
  }

  .name__barber-shop{
    color:#aaaaaa;
    font-size: 14px;
  }