header {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 48px;
  background-color: #f3f3f3;
  padding: 10px;
  border: 1px solid #d5d5d5;
}

.title {
  margin-left: 25px;
  display: flex;
  align-items: center;
  border-left: 1px solid #d1d1d1;
  font-size: 18px;
  padding-left: 30px;
  color: #333333;
  font-weight: 500;
  height: 100%;
}

.options{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-inner{
  display: flex;
  justify-content: center;
  height: 45px;
  background: #fff;
  width: 45px;
  border-radius: 10px;
}

.button-inner:hover{
  background: #f3f3f3;
}