a{
    text-decoration: none;
    color: inherit;
}

a:visited{

}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    gap: 10px;
    padding: 10px;
    border-right: 1px solid #D5D5D5;
}

.button__page-navigation{
    background-color: #F3F3F3;
    border-radius: 8px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
