#container{
    display: flex;
    width: 100%;
    justify-content: space-between
}

#container__services{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container__services__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 25px;

}

p{  
    font-size: 20px;
    font-weight: bold;
}

#container__services__card{
    display: flex;
    flex-wrap: wrap;
}

table{
    width: 100%;
    background-color: #fff;
}