.container__new_employee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

.add_employee{
  display: flex;
  justify-content: center;
  align-items: center;
}
